[submodule "Engine/External/SDL"]
	path = Engine/External/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Engine/External/assimp"]
	path = Engine/External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/External/fmt"]
	path = Engine/External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Engine/External/glm"]
	path = Engine/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/External/imgui"]
	path = Engine/External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/External/vk-bootstrap"]
	path = Engine/External/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
